.qodo
# Node.js
node_modules/

# Результаты сборки
dist/
build/

# Лог-файлы
*.log

# Файлы IDE/редакторов
.vscode/
.idea/

# Файлы конфигурации среды
.env
.env.local
.env.*.local

# Прочее
*.tgz
*.swp
.DS_Store

# Папки для работы с Docker
docker-compose.override.yml
.docker/

# TypeScript
*.tsbuildinfo

# Прочие конфиги
*.iml
