/* color palette from <https://github.com/vuejs/theme> */
:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  /* font-family: "TildaSans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: rgb(0, 0, 0); */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

select {
  cursor: pointer;
}

.main-container {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
