@use './base' as *;
@import 'normalize.css';

:root {
  --color-main-green: #8bc34a;
  --color-main-grey: #d3d3d3;
  --color-main-text: #000000;
  --shadow-main: 0 8px 8px -4px rgba(0, 0, 0, 0.152);
  --shadow-main-right: 8px 0 8px -4px rgba(0, 0, 0, 0.152);

}